<h1>Basic Form</h1>
<login></login>

<mat-divider></mat-divider>

<h1>Nested Form</h1>
<p>Example passing form groups from parent to child components</p>
<signup-form></signup-form>

<mat-divider></mat-divider>

<h1>Conditional Rendering</h1>
<conditional-rendering></conditional-rendering>

<mat-divider></mat-divider>

<h1>Complex Validation</h1>
<p>
  Remember to check the built-in validators from Angular before defining custom validators
  <a href="https://angular.io/api/forms/Validators" target="_blank">Angular Docs</a>
</p>

<custom-validator-class></custom-validator-class>

<cross-field-validation></cross-field-validation>

<mat-divider></mat-divider>
